[Desktop Entry]
Version=1.0
Name=Huntcoin Core
Comment=Connect to the Huntcoin P2P Network
Comment[de]=Verbinde mit dem Huntcoin peer-to-peer Netzwerk
Comment[fr]=Huntcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Huntcoin, eşten eşe kriptografik sanal para birimi
Exec=huntcoin-qt %u
Terminal=false
Type=Application
Icon=huntcoin128
MimeType=x-scheme-handler/huntcoin;
Categories=Office;Finance;
StartupWMClass=Huntcoin-qt
