
## <summary>policy for globaltoken</summary>


########################################
## <summary>
##	Transition to globaltoken.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`globaltoken_domtrans',`
	gen_require(`
		type globaltoken_t, globaltoken_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, globaltoken_exec_t, globaltoken_t)
')


########################################
## <summary>
##	Execute globaltoken server in the globaltoken domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`globaltoken_initrc_domtrans',`
	gen_require(`
		type globaltoken_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, globaltoken_initrc_exec_t)
')


########################################
## <summary>
##	Search globaltoken lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`globaltoken_search_lib',`
	gen_require(`
		type globaltoken_var_lib_t;
	')

	allow $1 globaltoken_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read globaltoken lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`globaltoken_read_lib_files',`
	gen_require(`
		type globaltoken_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, globaltoken_var_lib_t, globaltoken_var_lib_t)
')

########################################
## <summary>
##	Manage globaltoken lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`globaltoken_manage_lib_files',`
	gen_require(`
		type globaltoken_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, globaltoken_var_lib_t, globaltoken_var_lib_t)
')

########################################
## <summary>
##	Manage globaltoken lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`globaltoken_manage_lib_dirs',`
	gen_require(`
		type globaltoken_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, globaltoken_var_lib_t, globaltoken_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a globaltoken environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`globaltoken_admin',`
	gen_require(`
		type globaltoken_t;
		type globaltoken_initrc_exec_t;
		type globaltoken_var_lib_t;
	')

	allow $1 globaltoken_t:process { ptrace signal_perms };
	ps_process_pattern($1, globaltoken_t)

	globaltoken_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 globaltoken_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, globaltoken_var_lib_t)

')

